@import url(styles/header.css);
@import url(styles/grid.css);
@import url(styles/header.css);
:root{
    --cor-de-fundo: #e5e5e5;
    --branco: #FFFFFF;
    --amarelo:  #826bb8;
    --roxo-degrade: linear-gradient(94.49deg,  #733887 35.48%,  #C75EEB 143.32%);

}

body{
    background: var(--amarelo);
}

@media screen and (min-width:1024px) {
    body{background: rgb(104, 120, 173);}
}